/*
 * BSD 3-Clause License
 *
 * Copyright (c) 2020, HeapUnderflow
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 * 1. Redistributions of source code must retain the above copyright notice, this
 *    list of conditions and the following disclaimer.
 *
 * 2. Redistributions in binary form must reproduce the above copyright notice,
 *    this list of conditions and the following disclaimer in the documentation
 *    and/or other materials provided with the distribution.
 *
 * 3. Neither the name of the copyright holder nor the names of its
 *    contributors may be used to endorse or promote products derived from
 *    this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 */

:root {
    --kssdb-link-color: black;
    --kssdb-link-color-dark: lightgray;
}

.seed-button {
    transform: translateY(-2px);
}

.kssdb-hidden {
    display: none;
    visibility: hidden;
}

.modal-background {
    background-color: rgba(20,20,20,.86) !important;
}

a.user-search-link:link, a.user-search-link:visited {
    color: var(--kssdb-link-color);
    text-decoration: underline;
}

.kssdb-dark-mode a.user-search-link:link, .kssdb-dark-mode  a.user-search-link:visited {
    color: var(--kssdb-link-color-dark);
    text-decoration: underline;
}

a.user-search-link:hover {
    color: darkgray;
}

/* "Hover Highlight" */
.hover-highlight {
    color: #3272dc;
}

.hover-highlight:hover {
    color: darkgray;
}
